@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Orbitron:wght@400;700&display=swap');

body { 
  font-family: 'Orbitron', sans-serif; 
  background: black; 
  color: yellow; 
  margin: 0; 
  overflow: hidden; 
}

h1, .text-block { 
  font-family: 'Bangers', cursive; 
  font-size: 64px; 
  line-height: 100%; 
}

.div-block-2 { 
  background-image: url('images/over9000-bg.png'); 
  background-position: 50% 0; 
  background-size: cover; 
  position: absolute; 
  inset: 0; 
  overflow: hidden; 
}

.text-block { 
  color: #fff; 
  position: absolute; 
}

.text-block.top-left { 
  text-align: left; 
  top: 32px; 
  left: 32px; 
}

.text-block.top-right { 
  text-align: right; 
  top: 32px; 
  right: 32px; 
}

.text-block.bottom-left { 
  text-align: left; 
  bottom: 32px; 
  left: 32px; 
}

.text-block.bottom-right { 
  text-align: right; 
  bottom: 32px; 
  right: 32px; 
}

.link-2, .link-3, .link-4 { 
  font-family: 'Orbitron', sans-serif; 
  color: #fff; 
  text-decoration: none; 
}

.link-2:hover, .link-3:hover, .link-4:hover { 
  text-decoration: underline; 
}

@media screen and (max-width: 767px) {
  .text-block { 
    font-size: 36px; 
  }
  .link-2, .link-3, .link-4 { 
    font-size: 44px; 
  }
}

@media screen and (max-width: 479px) {
  .text-block { 
    font-size: 24px; 
  }
  .link-2, .link-3, .link-4 { 
    font-size: 28px; 
  }
}
